
.container-form{
    width: 950px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    
}
#form1{
    padding: 50px 20px 10px 20px;
    margin: auto;
    display: flex;
    margin-bottom: 1rem;
}

.form-group{
    margin: auto;
    display: flex;
    padding-left: 15px;
}
